.footer__logo {
  width: 150px;
  height: 40px;
  position: relative !important;

  img {
    max-height: 40px !important;
  }

  @media (max-width: 1023px) {
    width: 120px;
    height: 40px;
  }

  @media (max-width: 650px) {
    width: 130px;
    height: 25px;
  }
}

footer .link {
  position: relative;

  width: fit-content;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    height: 2px;
    width: 0;

    background-color: $blue;

    transition: 350ms ease-in-out;
  }

  &:hover {
    &:before {
      width: 50%;
    }
  }
}
