.basic-form {
  padding: 2rem;
  min-width: 25rem;
  width: fit-content;
  margin: auto;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $white;

  @media (max-width: 1023px) {
    width: 100%;
    min-width: 100%;
    padding: 2rem 1rem;
  }

  h1 {
    color: $black;
  }

  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 0.25rem 0;
    display: block;

    border: none;
    border-bottom: 1px solid $black;
    outline: none;
    color: $black;
    font-size: clamp(0.9rem, 0.9vw, 1.35rem);

    &::placeholder {
      color: $black;
    }

    &:focus {
      outline: none;
    }
  }

  .form__input label:not(.button) {
    text-transform: uppercase;
    font-size: clamp(0.7rem, 0.7vw, 1.1rem);
    color: $grey;
  }

  .error {
    font-size: clamp(0.6rem, 0.6vw, 1.15rem);
    color: $error;
    font-weight: 500;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: $black;
    outline: none !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
