@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", monospace, monospace;
}

body {
  width: 100%;
  min-height: 100vh;
}

.max-width {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;

  @media (max-width: 1023px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: 650px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($grey, 20%);
}

.button {
  padding: 0.5rem 1rem;

  text-transform: uppercase;
  background-color: $blue;
  color: $white;
  font-size: clamp(0.8rem, 0.85vw, 1.35rem);
  border: 1px solid $blue;

  transition: all 350ms ease-in-out;

  @media (max-width: 650px) {
    padding: 0.25rem 0.5rem;
  }

  &:hover {
    background-color: $blueHover;
  }

  &--light {
    padding: 0.25rem 0.5rem;

    background-color: $white;
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &--bordered {
    padding: 0.25rem 0.5rem;

    border: 1px solid $blue;
    color: $blue;
    background-color: transparent;

    &:hover {
      color: $white;
    }
  }

  &--small {
    padding: 0.25rem 0.5rem;

    font-size: clamp(0.75rem, 0.75vw, 1.25rem);
  }

  &--filter:hover {
    background-color: lighten($blue, 35%);
    color: $blue;
  }
}

.page {
  padding-top: 7rem;
  padding-bottom: 7rem;

  @media (max-width: 1024px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @media (max-width: 650px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

[data-sonner-toast] {
  will-change: opacity !important;
}
